.nav {
    background-color: #177464;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000000000000;
    padding: 0.5rem;

}

.navWrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 2fr 1fr;
    align-items: center;
}


.nav ul {
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.nav ul li a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in;

}

.nav ul li a:hover {
    color: #16ca9d !important;
}

.nav .navWrapper .username {
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.63rem;
    font-weight: 600;

}
.nav .navWrapper .username span{
    font-size: 0.5rem;
}
.nav .cartButtonTopRight {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0px;
    gap: 0.25rem;
    padding: 0.45rem 0.25rem;
    color: #e1e8ec !important;
}

.nav ul li a.cartButtonTopRight:hover {
    color: #e1e8ec !important;
    padding-left: 20px;
    background-color: #000;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem
}

.nav .cartButtonTopRight,
.cartICON {
    color: #ffffff60;
}